body
{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

main
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card
{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: transform;
    transition: transform 0.1s ease;
}

.card:hover
{
    transform: translate(0, -2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}   

.card img
{
    order: 1;
    max-width: 95%;
    height: auto;
}

.card h2
{
    order: 2;
}

.card ul
{
    order: 3;
    align-self: flex-start;
}

.card button
{
    order: 4;
    margin-top: auto;
    width: 90%;
    height: 40px;
    background-color: #ff0000;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    will-change: transform;
    transition: transform 0.15s ease;
}

.card button:hover
{
    transform: scale(1.02);
}   

.card button:active
{
    transform: scale(0.95);
}